body{
    cursor: alias;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShrmwGPBPDAtu-qQtsTqu147qRL-ebMp0Y4SoaRl2gdQ&s");
}

#header_national_pen_page{
    width: 100%;
    height: 80px;
    background: red;
}


#id {
    margin-top: 5px;
    margin-left: 5px;
}

#main_window {
    width: 90%;
    height: 80%;
    background-color: blue;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 5%;
    margin-top: 1%;
    overflow: hidden;
    position: fixed;
}

#view_order {
    width: 70%;
    height: 30%;
    background: antiquewhite;
    margin-top: 15%;
    margin-left: 10%;
    overflow: scroll;
    position: fixed;
}

#file_not_found {
    width: 70%;
    height: 30%;
    background: greenyellow;
    margin-top: 17%;
    margin-left: 15%;
    position: fixed;
    display: none;
}

#file_not_found p {
    color: red;
    font-size: 1.6em;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 20%;
}

#view_order table {
    width: 99.5%;
    height: 5%;
    border: 2px;
    margin-left: 5px;
    margin-top: 5px;
}

#view_order_table_header th {
    border: 2px solid black;
    background: rgb(128, 128, 128);
    color: white;
}

#view_order_table_body th {
    background: floralwhite;
}

#restart_page{
    width: 250px;
    height: 30px;
    position: fixed;
    top: 91%;
    left: 40%;
}

#restart_page label {
    width: 140px;
    height: 20px;
    margin: 5px 0 0 5px;
    background: yellowgreen;
    color: black;
    font-weight: bold;
    float: left;
}

#restart_page label:hover {
    background: yellow;
    border: 2px solid black;
}

#restart_page input {
    position: relative;
    left: 5px;
    top: 5px;
}


@media screen and (max-width: 550px) {
    #restart_page{
        position: fixed;
        top: 65%;
        left: 30%;
    }
}

